@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --fonte-padrao: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-padrao);
}

header {
    background-color: #021F4E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header #logo {
    margin: 30px;
}

nav {
    margin-right: 20px;
    align-items: center;
    display: flex;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 600;
    font-size: large;
    cursor: pointer;
}

nav a img {
    height: 50px;
}

nav > a:hover {
    color: #02BBCA;
}

body {
    background: white;
}

main > h1 {
    margin: 20px 35px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    margin: 0 auto; /* centralizar a tabela */
    text-align: center;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #CED4DA;
    word-wrap: break-word;
}

th {
    padding: 12px;
    text-align: center; /* Alinhamento à esquerda */
    border-bottom: 1px solid #CED4DA;
    word-wrap: break-word;
    background-color: #cdcdcd;
    width: calc(100% / 3); /* Divide igualmente o espaço disponível entre as três colunas */
}

#h1BronzeHash {
    margin-top: 30px;
}

#h2BronzeHash {
    padding: 20px 10px 10px 0;
}

#pBronzeHash {
    text-align: center;
}

#parchive {
    padding-top: 14px;
    font-size: 20px;
}

#alinhamentos {
    display: flex; /* Adicionando display flex para alinhar os elementos horizontalmente */
    align-items: baseline; /* Alinhar os elementos pela linha de base */
    margin: 0 auto; /* Centralizar */
    max-width: 800px; /* Largura máxima */
    margin-left: 0px;
}

#table-container {
    max-height: 400px; /* altura máxima */
    overflow-y: auto;
    margin: 0 auto; /* centralizar */
    max-width: 1000px; /* largura máxima */
}

.even-row {
    background-color: #ffffff;
    /* Cor de fundo para linhas pares */
}

.odd-row {
    background-color: #f2f2f2;
    /* Cor de fundo para linhas ímpares */
}

#btnCancelar {
    background-color: #ADB5BD;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 10px 10px auto; /* ajuste de margens */
    font-size: 15px;
    font-weight: 600;
}

#btnEditar {
    background-color: #021F4E;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto 10px 10px; /* ajuste de margens */
    font-size: 15px;
    font-weight: 600;
}

#buttons {
    display: flex;
    justify-content: right;
    padding-top: 20px;
}

.apagado {
    opacity: 0.6;
}
