@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --fonte-padrao: 'Inter', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao);
}

header {
    background-color: #021F4E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header #logo {
    margin: 30px;
}

nav {
    margin-right: 20px;
    align-items: center;
    display: flex;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 600;
    font-size: large;
    cursor: pointer;
}

nav a img {
    height: 50px;
}

nav > a:hover {
    color: #02BBCA;
}

body {
    background: white;
}

.container {
    display: flex;
    justify-content: center; /* centraliza horizontalmente */
    align-items: center; /* centraliza verticalmente */
    height: 100%; /* altura total da página */
}.content {
    margin-top: 20px;
    text-align: center;
    font-size: 24px; /* centraliza o conteúdo dentro da div */
}

.containerButton {
    display: flex;
    flex-direction: column; /* exibir botões um abaixo do outro */
    align-items: center; /* centralizar os botões horizontalmente */
    margin-top: 40px; /* espaço entre o título e os botões */
}

button {
    /* Estilos adicionais para o botão, se necessário */
    margin: 30px; /* espaço entre os botões */
    padding: 30px;
    background-color: #021F4E;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    height: 80px;
    width: 320px;
}

button:hover {
    /* Estilos adicionais para o botão, se necessário */
    margin: 30px; /* espaço entre os botões */
    padding: 30px;
    background-color: #032d70;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    height: 80px;
    width: 320px;
}
