@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --fonte-padrao: "Inter", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: var(--fonte-padrao);
}

header {
  background-color: #021f4e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header #logo {
  margin: 30px;
}

nav {
  margin-right: 20px;
  align-items: center;
  display: flex;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 600;
  font-size: large;
  cursor: pointer;
}

nav a img {
  height: 50px;
}

nav > a:hover {
  color: #02bbca;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#app {
  height: 100%; /* Garante que #app ocupe toda a altura da tela */
}

#container {
  display: flex;
  height: 100%; /* Garante que #container ocupe toda a altura de #app */
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.dashs {
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.tituloDashHome {
  width: 100%; 
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold; 
  padding: 20px; 
  background-color: rgb(255, 255, 255); 
}

#btnVoltar {
  flex-grow: 1;
  text-align: center;
}

.chart-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 110px;
}

.apexcharts-legend.apx-legend-position-bottom.apexcharts-align-left, .apexcharts-legend.apx-legend-position-top.apexcharts-align-left, .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {
  justify-content: flex-start;
}

.botaoVoltar {
  margin-top: 30px;
  padding: 20px;
  background-color: #ADB5BD;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  height: 100%;
}


