@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --fonte-padrao: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--fonte-padrao);
}

/* Header */
header {
  background-color: #021f4e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header #logo {
  margin: 30px;
}

nav {
  margin-right: 20px;
  align-items: center;
  display: flex;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 600;
  font-size: large;
  cursor: pointer;
}

nav a img {
  height: 50px;
}

nav > a:hover {
  color: #02bbca;
}

/* Body */
body {
  background: white;
}

main > h1,
h2,
h3 {
  margin: 20px 35px;
}

/* Table */
table {
  width: calc(100% - 70px);
  border-collapse: collapse;
  margin: 0 35px;
  overflow-x: auto;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ced4da;
  word-wrap: break-word;
}

th {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #dad4d4;
}

/* Table Images */
#img-table {
  height: 16px;
  margin: 0 6px 0 0;
}

#centralizar {
  display: flex;
  align-items: center;
}

tbody > tr > td > div > abbr > img {
  height: 25px;
}

tbody > tr > td > div > abbr > img:hover {
  cursor: pointer;
}

/* Status Cell */
.status-cell {
  font-size: 14px;
}

/* Column Widths */
#table th:nth-child(1),
#table td:nth-child(1) {
  width: 30%;
}

#table th:nth-child(2),
#table td:nth-child(2) {
  width: 35%;
}

#table th:nth-child(3),
#table td:nth-child(3) {
  width: 35%;
}

/* Center Text in Specific Columns */
#table td:nth-child(4),
#table td:nth-child(5) {
  text-align: center;
  vertical-align: middle;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: flex;
  align-items: center;
}

.dropdown-menu {
  width: 100px;
  height: auto;
  position: absolute;
  top: 50px;
  left: -50px;
  border-radius: 5px;
  box-shadow: 0 0 2px black;
  background-color: white;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu a {
  font-size: 15px;
  display: block;
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  width: 10px;
}
