@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --fonte-padrao: 'Inter', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao);
}

header {
    background-color: #021F4E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header #logo {
    margin: 30px;
}

nav {
    margin-right: 20px;
    align-items: center;
    display: flex;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 600;
    font-size: large;
}

nav a img {
    height: 50px;
}

nav>a:hover {
    color: #02BBCA;
}

body {
    background: white;
}

main>h1 {
    margin: 20px 35px 20px 35px;
}

table {
    width: calc(100% - 70px);
    border-collapse: collapse;
    margin: 0 35px;
    overflow-x: auto;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #CED4DA;
    word-wrap: break-word;
}

th {
    background-color: #f2f2f2;
}

img {
    height: 16px;
    margin: 0 6px 0 0;
}

#centralizar {
    display: flex;
    align-items: center;
}

tbody>tr>td>div>abbr>img {
    height: 25px;
}

tbody>tr>td>div>abbr>img:hover {
    cursor: pointer;
}

.btn {
    background-color: #021F4E;
    /* Define a cor de fundo do botão */
    color: #fff;
    /* Define a cor do texto do botão como branco */
    padding: 10px 20px;
    /* Define o preenchimento interno do botão */
    border: none;
    /* Remove a borda do botão */
    border-radius: 5px;
    /* Adiciona bordas arredondadas ao botão */
    cursor: pointer;
    /* Transforma o cursor do mouse em um ponteiro ao passar sobre o botão */
    float: right;
    /* Alinha o botão à direita */
    margin-top: 10px;
    /* Define uma margem superior de 10 pixels */
}

/* Define o estilo dos botões para telas menores que 768 pixels */
@media screen and (max-width: 768px) {
    .btn {
        float: none;
        /* Remove o alinhamento flutuante */
        display: block;
        /* Transforma o botão em um bloco */
        margin: 0 auto;
        /* Centraliza o botão horizontalmente */
        width: 80%;
        /* Define a largura do botão como 80% da largura do elemento pai */
    }
}

.h1Landing {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.h2Landing {
    margin-left: 15px;
    padding: 20px;
}

