@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --fonte-padrao: 'Inter', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao);
}

header {
    background-color: #021F4E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header #logo {
    margin: 30px;
}

nav {
    margin-right: 20px;
    align-items: center;
    display: flex;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 600;
    font-size: large;
}

nav a img {
    height: 50px;
}

nav > a:hover {
    color: #02BBCA;
}

body {
    background: white;
}

main > h1 {
    margin: 20px 35px 20px 35px;
}

table {
    width: calc(100% - 70px);
    border-collapse: collapse;
    margin: 0 35px;
    overflow-x: auto;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #CED4DA;
    word-wrap: break-word;
}

th {
    background-color: #f2f2f2;
}

#img-table {
    height: 16px;
    margin: 0 6px 0 0;
}

#centralizar {
    display: flex;
    align-items: center;
}

tbody > tr > td > div > abbr > img {
    height: 25px;
}

tbody > tr > td > div > abbr > img:hover {
    cursor: pointer;
}

.status-cell {
    font-size: 14px;
}

#table th:nth-child(1), #table td:nth-child(1) {
    width: 40%; /* Defina a largura desejada para a primeira coluna */
}

#table th:nth-child(2), #table td:nth-child(2) {
    width: 35%; /* Defina a largura desejada para a segunda coluna */
}

#table th:nth-child(3), #table td:nth-child(3) {
    width: 25%; /* Defina a largura desejada para a terceira coluna */
}
