/* Define um preenchimento de 20 pixels em torno do conteúdo da página principal */
main {
    padding: 20px;
}

/* Define a largura da tabela como 100% e remove a separação entre as células */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Estiliza as células da tabela */
th, td {
    padding: 8px; /* Define um preenchimento de 8 pixels dentro das células */
    text-align: left; /* Alinha o texto à esquerda dentro das células */
    border-bottom: 1px solid #CED4DA; /* Adiciona uma linha inferior de 1 pixel sólido com a cor #CED4DA */
    word-wrap: break-word; /* Permite que palavras longas sejam quebradas em várias linhas */
}

/* Estiliza os cabeçalhos da tabela */
th {
    background-color: #f2f2f2; /* Define uma cor de fundo para os cabeçalhos */
}

/* Define uma classe "container" com posicionamento relativo */
.container {
    position: relative;
}

/* Estiliza botões */
.btn {
    background-color: #021F4E; /* Define a cor de fundo do botão */
    color: #fff; /* Define a cor do texto do botão como branco */
    padding: 10px 20px; /* Define o preenchimento interno do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 5px; /* Adiciona bordas arredondadas ao botão */
    cursor: pointer; /* Transforma o cursor do mouse em um ponteiro ao passar sobre o botão */
    float: right; /* Alinha o botão à direita */
    margin-top: 10px; /* Define uma margem superior de 10 pixels */
}

/* Define o estilo dos botões para telas menores que 768 pixels */
@media screen and (max-width: 768px) {
    .btn {
        float: none; /* Remove o alinhamento flutuante */
        display: block; /* Transforma o botão em um bloco */
        margin: 0 auto; /* Centraliza o botão horizontalmente */
        width: 80%; /* Define a largura do botão como 80% da largura do elemento pai */
    }
}
