@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --fonte-padrao: 'Inter', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao);
}

header {
    background-color: #021F4E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

header #logo {
    margin: 30px;
}

nav {
    margin-right: 20px;
    align-items: center;
    display: flex;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 600;
    font-size: large;
}

nav a img {
    height: 50px;
}

nav > a:hover {
    color: #02BBCA;
}

body {
    background-color: #c5cacf;
}

main {
    text-align: center;
    margin-top: 150px;
}

#fileUploadModal {
    background-color: white;
    width: 800px;
    height: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#uploadArea {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 100px;
    cursor: pointer;
}

#uploadArea img {
    height: 60px;
}

#uploadArea p {
    font-weight: 400;
}

#fileUploadModal button {
    background-color: #021F4E;
    color: white;
    border: none;
    padding: 10px 25px;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    font-size: 15px;
    font-weight: 600;
}

#fileUploadModal button[type="button"] {
    background-color: #ADB5BD;
}

#fileUploadModal button:hover {
    background-color: #00368d;
}

#fileUploadModal button[type="button"]:hover {
    background-color: #848586;
}

.fixed-hover {
    color: #02BBCA;
}
