@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* FONTES */

.bold700 {
    /* Fonte para ser usada em Títulos */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.semiBold600 {
    /* Fonte para ser usada em Subtítulos */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.regular400 {
    /* Fonte para ser usada em Textos */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

head {
    background: white scroll;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#menu-x ul {
    list-style-type: none; /* Remove os marcadores dos itens de lista */
    padding: 35px; /* Adiciona espaçamento interno ao menu */
    background-color: #021F4E;
    overflow: auto; /* Limpa as flutuações */
}

#menu-x ul img {
    float: left; /* Coloca a imagem à esquerda */
    margin-right: 10px; /* Adiciona um espaço entre a imagem e os itens de lista */
}

#menu-x ul li {
    float: right; /* Coloca os itens de lista à direita */
}

#menu-x ul li a {
    display: block; /* Transforma os links em elementos de bloco para preencher toda a largura disponível */
    color: rgb(255, 255, 255); /* Cor do texto */
    text-decoration: none; /* Remove a sublinhado dos links */
    padding: 10px 20px; /* Adiciona espaçamento interno aos links */
    transition: background-color 0.3s; /* Adiciona um efeito de transição ao fundo dos links */
}

#menu-x ul li a:hover {
    background-color: #00B4F0; /* Muda a cor do fundo ao passar o mouse por cima do link  */
}

#menu-x ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    vertical-align: middle; /* Alinha o ícone e o texto verticalmente */
}

#menu-x ul li a .material-icons {
    vertical-align: middle; /* Alinha o ícone e o texto verticalmente */
}



main{
    h1{
        font: Inter;
        weight: 700px;
        size: 30 px;
        line-height: 30 px;
        color: #212529;
        width: 250 px;
        height: 40 px;
        top: 120 px;
        left: 40 px;
    }

    table#modificacao{
        font: Inter;
        color:#ADB5BD;
        width: 1360px;
        height: 230px;
        top:190px;
        left: 1000px;
        border: 1px;
        
    }
    table#modificacao{
         /* border: 1px solid black; */
        padding: 10px;
    }
    td:nth-child(1){
        width: 25%;
        text-align: left;
    }
    td {
        text-align:left;
    }
    td{
        border-bottom: 1px #CED4DA;
    }

}


