<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../utils/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="../assets/style/bronze-zone-visualizar-hash.css" />
    <title>Bronze Zone - Visualizar Hash</title>
</head>

<body>
    <div id="app">
        <header>
            <img src="../assets/images/logo-dom-rock.png" alt="logo-dom-rock" id="logo" />
            <nav>
                <a href="home.html">Home</a>
                <a href="#"><img src="../assets/images/foto-perfil-branco.png" alt="foto-perfil-branco"
                        id="fotoPerfilIcon" /></a>
            </nav>
        </header>

        <main>
            <h1 id="h1BronzeHash">Bronze Zone - Visualizar Hash</h1>

            <p id="pBronzeHash">Você está visualizando os metadados que foram utilizados para criar o hash!</p>
            <p id="pBronzeHash">Para editá-los, clique no botão "Editar".</p>

            <div id="alinhamentos">
                <h2 id="h2BronzeHash">Nome do arquivo:</h2>
                <p id="parchive" v-text="nameFile"></p>
            </div>

            <div id="table-container" style="overflow-x: auto">
                <table class="apagado">
                    <thead>
                        <tr>
                            <th v-for="(head, index) in headTabela" :key="index">{{ head }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in metadadosNoHash" :key="index"
                            :class="{ 'even-row': index % 2 === 0, 'odd-row': index % 2 !== 0 }">
                            <td>{{ item.nome }}</td>
                            <td>{{ item.valorPadrao }}</td>
                            <td id="checkbox-cell">
                                <input type="checkbox" v-model="item.agrupar" checked="true" disabled="true" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="container">
                <div id="sectionObs">
                    Observações:
                    <textarea 
                        id="inputObs" 
                        v-model="observacao" 
                        readonly 
                        cols="30" 
                        rows="10" 
                        class="apagado">
                    </textarea>
                </div>
      
                <div id="buttons">
                    <a href="home.html">
                        <button id="btnCancelar">Cancelar</button>
                    </a>
                    <a href="bronze-zone-editar-hash.html">
                        <button id="btnEditar">Editar<button>
                    </a>
                </div>
            </div>
        </main>
    </div>

    <script>
        const app = new Vue({
            el: "#app",
            data: {
                nameFile: "",
                userFile: "",
                data: [],
                observacao: "",
                metadadosNoHash: [],
                headTabela: ["Nome", "Valor Padrão", "Colunas agrupadas"]
            },
            mounted() {
                this.nameFile = localStorage.getItem("fileName") || "";
                this.userFile = sessionStorage.getItem("usuario") || "";
                this.visualizarMetadadosDoHash();
            },
            methods: {
                visualizarMetadadosDoHash() {
                    const objetoParaEnviar = {
                        nomeArquivo: this.nameFile,
                        usuario: this.userFile,
                    };

                    fetch("http://localhost:8080/bronze/visualize", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            'Authorization': `Bearer ` + sessionStorage.getItem("authToken"),
                        },
                        body: JSON.stringify(objetoParaEnviar),
                    })
                        .then((response) => {
                            if (!response.ok) {
                                console.log(
                                    Error + " Erro na requisição: " + response.status
                                );
                            }
                            console.log("Requisição feita com sucesso: " + response.status);
                            return response.json();
                        })
                        .then(data => {
                            console.log("Dados recebidos:", data);
                            if (data && data.response && data.response.metadadosNoHash) {
                                this.metadadosNoHash = data.response.metadadosNoHash.map((meta) => ({
                                    nome: meta.nome,
                                    valorPadrao: meta.valorPadrao || "",
                                }));
                                this.observacao =
                                    data.response.observacao || "Nenhuma observação disponível";
                                console.log("Metadados:", this.metadadosNoHash);
                                console.log("Observação:", this.observacao);
                            } else {
                                console.log(
                                    Error + " Resposta da requisição inválida: ",
                                    data
                                );
                            }
                        })
                        .catch((error) => {
                            console.error("Erro ao criar hash:", error);
                        });
                }
            }
        });
    </script>
</body>

</html>