<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="../utils/logout.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="../assets/style/cadastro.css" />
  <title>Cadastro de Usuário</title>
  <link rel="shortcut icon" href="../assets/images/favicon.ico">

</head>

<body>
  <div id="app">

    <header>
      <img src="../assets/images/logo-dom-rock.png" alt="logo-dom-rock" id="logo" />
      <nav>
        <a href="home.html">Home</a>
        <a @click="deslogar()">
          <span class="material-symbols-outlined">logout</span>
        </a>
      </nav>
    </header>

    <main>
      <h1 id="h1Cadastrar">Cadastrar Usuário</h1>
      <div id="instrucoes">
        <p>
          Para cadastrar um usuário é necessário preencher corretamente os
          campos abaixo com os respectivos dados.
        </p>
        <br />
        <p>
          Os campos com <font color="red">*</font> são de preenchimento
          obrigatório.
        </p>
      </div>
      <div class="dados-cadastro">
        <div class="campoTexto">
          <label>Email do usuário <font color="red">*</font></label>
          <input type="email" id="email" v-model="emailUser" required />
        </div>
        <div>
          <label class="campoNivel">Nível de acesso do usuário <font color="red">*</font>
          </label>
        </div>
        <div class="campoCheckbox">
          <div class="zone">
            <input type="checkbox" id="full" value="Full" v-model="nivelAcesso" @change="mudarCheckbox" />
            <label class="checkNivel">Full</label>
          </div>
          <div class="zone">
            <input type="checkbox" id="landing" value="LZ" v-model="nivelAcesso" @change="mudarCheckbox" />
            <label class="checkNivel">Landing</label>
          </div>
          <div class="zone">
            <input type="checkbox" id="bronze" value="B" v-model="nivelAcesso" @change="mudarCheckbox" />
            <label class="checkNivel">Bronze</label>
          </div>
          <div class="zone">
            <input type="checkbox" id="silver" value="S" @change="mudarCheckbox" v-model="nivelAcesso" />
            <label class="checkNivel">Silver</label>
          </div>
        </div>
        <div class="campoTexto" id="org">
          <label>CNPJ da organização <font color="red">*</font></label>
          <input type="text" id="cnpj" v-model="cnpjOrg" />
          <p v-if="!cnpjValido && cnpjOrg !== ''">CNPJ inválido</p>
        </div>
        <div class="campoTexto" id="org2">
          <label>Razão social <font color="red">*</font></label>
          <input type="text" id="nome" v-model="razaoSocial" />
        </div>
        <div id="buttons">
          <a href="controle_usuario.html">
            <button id="btnCancelar">Voltar</button>
          </a>
          <button id="btnCadastrar" @click="adicionarDados()">
            Cadastrar
          </button>
        </div>
      </div>
    </main>
  </div>

  <script>
    // Objeto para guardar infos
    const app = new Vue({
      el: "#app",
      data: {
        emailUser: null,
        nivelAcesso: [],
        cnpjOrg: null,
        razaoSocial: null,
        cnpjValido: true,
      },
      methods: {
        deslogar() {
          logoutUser(sessionStorage.getItem("usuario"))
          sessionStorage.removeItem("usuario")
          window.location.href = "../../public/index.html"
        },
        adicionarDados() {
          // Criar um objeto para armazenar os dados do usuário
          let novoUsuario = {
            emailUsuario: this.emailUser,
            nivelAcesso: this.nivelAcesso,
            cnpj: this.cnpjOrg,
            organizacao: this.razaoSocial,
          };

          // Aqui você pode fazer o que quiser com os dados, como enviar para um servidor, exibir em algum lugar, etc.
          console.log("Novo usuário:", novoUsuario);

          //Enviar dados para o backend
          fetch("http://localhost:8080/register/cadastro", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              'Authorization': `Bearer ` + sessionStorage.getItem("authToken"),
            },
            body: JSON.stringify(novoUsuario),
          })
            .then((response) => {
              return response.json();
            })
            .then((responseJson) => {
              if (
                responseJson.critica !== "Processamento efetuado com sucesso"
              ) {
                Swal.fire({
                  title: "Erro",
                  text: responseJson.critica,
                  icon: "error", // Ícone personalizado (success, error, warning, info)
                  confirmButtonText: "OK", // Texto do botão de confirmação
                });
                // Redefinir as checkboxes selecionadas para evitar conflitos
                this.nivelAcesso = [];
                return;
              } else {
                Swal.fire({
                  title: "Sucesso",
                  text: responseJson.critica,
                  icon: "success", // Ícone personalizado (success, error, warning, info)
                  confirmButtonText: "OK", // Texto do botão de confirmação
                }).then((result) => {
                  // Limpar os campos após o cadastro
                  this.emailUser = null;
                  this.nivelAcesso = [];
                  this.cnpjOrg = null;
                  this.razaoSocial = null;
                  //voltar pada index
                  window.location.href = "home.html";
                });
              }
              // Lidar com a resposta do backend aqui se necessário
            })
            .catch((error) => {
              // Lidar com o erro aqui
              console.error('Ocorreu um erro:', error);
              Swal.fire({
                title: "Erro",
                text: "Ocorreu um erro durante o processamento da solicitação.",
                icon: "error",
                confirmButtonText: "OK",
              });

              // Redefinir as checkboxes selecionadas para evitar conflitos
              this.nivelAcesso = [];
            });
        },
        mudarCheckbox(event) {
          const caixaSelecaoFull = document.getElementById("full");
          const outrasCaixasSelecao = document.querySelectorAll(
            ".campoCheckbox .zone input[type=checkbox]:not(#full)"
          );

          // Verifica se a caixa de seleção "Full" foi marcada
          if (caixaSelecaoFull.checked) {
            // Desmarca todas as outras caixas de seleção e as desabilita
            outrasCaixasSelecao.forEach((caixaSelecao) => {
              caixaSelecao.checked = false;
            });
            document.querySelector('#org').style.display = 'none';
            document.querySelector('#org2').style.display = 'none';
          } else {
            document.querySelector('#org').style.display = 'block';
            document.querySelector('#org2').style.display = 'block';
            // Verifica se todas as outras caixas de seleção foram marcadas
            const todasAsOutrasMarcadas = Array.from(
              outrasCaixasSelecao
            ).every((caixaSelecao) => caixaSelecao.checked);

            // Se todas as outras caixas de seleção foram marcadas
            if (!todasAsOutrasMarcadas)  {
              // Habilita todas as outras caixas de seleção
              outrasCaixasSelecao.forEach((caixaSelecao) => {
                caixaSelecao.disabled = false;
              });
            }
          }
          // Atualiza os dados do Vue.js
          this.nivelAcesso = Array.from(document.querySelectorAll(".campoCheckbox .zone input[type=checkbox]"))
            .filter(caixaSelecao => caixaSelecao.checked)
            .map(caixaSelecao => caixaSelecao.value);
        },
      },
    });
  </script>
</body>

</html>