<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--VUE IMPORT-->
    <script src="../utils/vue.js"></script>
    <!--CSS IMPORT-->
    <link rel="stylesheet" href="../assets/style/style_default.css" />
    <link rel="stylesheet" href="../assets/style/landing_zone.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="../utils/mockup.js"></script>
    <title>Landing Zone</title>
  </head>

  <body>
    <!--Toolbar-->
    <nav id="menu-x">
      <ul>
        <img src="../assets/images/logoDomRock.png" alt="" />

        <li class="semiBold600">
          <a href="#">
            <span class="material-icons">account_circle</span>
            Meu Perfil
          </a>
        </li>

        <li class="semiBold600">
          <a href="/src/pages/upload-csv.html">
            <span class="material-icons">upload_file</span>
            Importar Novo CSV
          </a>
        </li>

        <li class="semiBold600">
          <a href="/public/index.html">
            <span class="material-icons">home</span>
            Home
          </a>
        </li>
      </ul>
    </nav>
    <main>
      <div id="app">
        <h2 v-text="nameFile"></h2>
        <table>
          <thead>
            <tr>
              <!--cabeçalho da tabela-->
              <th v-for="(head, index) in headTabela" :key="index">
                {{ head }}
              </th>
            </tr>
          </thead>
          <tbody>
            <!--coluna nome-->
            <tr v-for="(item, index) in data" :key="index">
              <td>
                <input
                  type="checkbox"
                  value="true"
                  checked
                  v-model="item.ativo"
                />
              </td>
              <td>{{ item.nome }}</td>
              <td>
                <!--coluna tipo-->
                <select v-model="item.tipo">
                  <option value="" disabled>Selecione um Tipo</option>
                  <option v-for="(tipo, index) in tipoDadoTabela" :key="index">
                    {{ tipo }}
                  </option>
                </select>
              </td>
              <!--coluna obrigatoprio-->
              <td>
                <input type="checkbox" value="" v-model="item.obrigatorio" />
              </td>
              <!--coluna tamanho maximo-->
              <td><input type="text" v-model="item.tamanhoMaximo" /></td>
              <!--coluna valor padrão-->
              <td><input type="text" v-model="item.valorPadrao" /></td>
              <!--coluna descrição-->
              <td><input type="text" v-model="item.descricao" /></td>
            </tr>
          </tbody>
        </table>
        <!--Botão salvar-->
        <button class="btn" @click="adicionarMetadados()">Salvar</button>
      </div>
    </main>

    <!-- script Vue.js -->
    <script>
      //import dos dados ficticios
      mock();

      let dados = JSON.parse(localStorage.getItem("dadosUpload"));
      console.log(dados.response.columns);

      let test = []; // referenciar a variavel que vai receber o objeto e desmembrar com um for

      dados.response.columns.forEach((coluna) => {
        test.push({ nome: coluna.nome, ativo: true });
      });

      // instancia do Vue
      const vm = new Vue({
        el: "#app",
        data: {
          // nome do arquivo
          nameFile: dados.response.fileName,
          // nome do usuario
          userFile: dados.response.usuario,
          // cabeçalho da tabela
          headTabela: [
            "Ativo",
            "Nome",
            "Tipo de Dado",
            "Obrigatório",
            "Tamanho Máximo",
            "Valor Padrão",
            "Descrição",
          ],
          // tipos a serem inseridos no arquivo
          tipoDadoTabela: [
            "Inteiro",
            "Decimal",
            "Booleano",
            "Texto",
            "Data",
            "Hora",
            "Data e Hora",
          ],
          //objeto pegado da tela anterior
          data: test,
        },
        methods: {
          //função para acionar a extrasão de dados 
          adicionarMetadados() {
            let metadados = [];

            this.data.forEach((item) => {
              let restricoes = [];

              // Verifica se item e item.restricoes estão definidos e se item.restricoes é um array
              if (item && item.restricoes && Array.isArray(item.restricoes)) {
                item.restricoes.forEach((restricao) => {
                  restricoes.push({
                    nome: restricao.nome,
                    valor: restricao.valor,
                  });
                });
              }

              metadados.push({
                ativo: item.ativo,
                nome: item.nome,
                valorPadrao: item.valorPadrao,
                descricao: item.descricao,
                restricoes: restricoes,
                tipo: {
                  nomeTipo: item.tipo,
                },
              });
            });

            // Construindo o objeto completo
            const objetoCompleto = {
              nomeArquivo: this.nameFile,
              usuario: this.userFile,
              metadados: metadados,
            };

            console.log(objetoCompleto);

            //Enviar dados para o backend
            fetch("http://localhost:8080/landing/save", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(objetoCompleto),
            })
              .then((response) => {
                if (!response.ok) {
                  throw new Error("Erro ao enviar dados para o backend");
                }
                // Lidar com a resposta do backend aqui, se necessário
                return response.json();
              })
              .then((data) => {
                console.log("Dados enviados com sucesso:", data);
                // Lógica adicional após o envio bem-sucedido, se necessário
              })
              .catch((error) => {
                console.error("Erro:", error);
                // Lidar com erros aqui, se necessário
              });
          },
        },
      });
    </script>
  </body>
</html>
