<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <link rel="stylesheet" href="../assets/style/log.css" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <title>Histórico Log</title>
</head>

<body>
  <div id="app">
    <header>
      <img src="../assets/images/logo-dom-rock.png" alt="logo-dom-rock" id="logo" />
      <nav>
        <a href="home.html">Home</a>
        <a href="upload-csv.html">Importar Arquivo</a>
        <a @click="deslogar()"><span class="material-symbols-outlined">
            logout
          </span></a>
      </nav>
    </header>

    <main>
      <h1 id="h1Log">Histórico de Modificações</h1>

      <div id="alinhamentos">
        <h2 id="h2Log">Nome do arquivo:</h2>
        <h2 id="parchive" v-text="nomeArquivo"></h2>
      </div>

      <div id="table-container" style="overflow-x: auto">
        <table>
          <thead>
            <tr>
              <th v-for="(head, index) in headTabela" :key="index">
                {{ head }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in logs" :key="index">
              <td>{{ item.usuario }}</td>
              <td>{{ item.estagio }}</td>
              <td>{{ item.acao }}</td>
              <td>{{ item.observacao }}</td>
              <td>{{ item.dataHora }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="container">
        <div class="right-section">
          <a href="home.html">
            <button id="btnVoltar">Voltar</button>
          </a>
        </div>
      </div>
    </main>
  </div>

  <script>
    const app = new Vue({
      el: "#app",
      data: {
        nomeArquivo: "",
        logs: [],
        headTabela: [
          "Usuário",
          "Estágio",
          "Ação",
          "Observação",
          "Data/Hora"
        ],
      },
      mounted() {
        this.nomeArquivo = localStorage.getItem("nomeArquivo") || "";
        this.visualizarDadosDoLog();
      },
      methods: {
        deslogar() {
          sessionStorage.removeItem("usuario");
          window.location.href = "../public/home.html";
        },
        visualizarDadosDoLog() {
          console.log(localStorage.getItem("fileName"))
          const requestData = {
            nomeArquivo: localStorage.getItem("fileName"),
            organizacao: localStorage.getItem("cnpjFile")
          };

          console.log(requestData)
          fetch("http://localhost:8080/log/visualizar", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              'Authorization': `Bearer ${sessionStorage.getItem("authToken")}`,
            },
            body: JSON.stringify(requestData),
          })
            .then(response => {
              return response.json();
            })

            .then(data => {
              console.log(data)

              if (data.critica != "Processamento efetuado com sucesso") {
                Swal.fire({
                  icon: 'error',
                  title: 'Erro',
                  text: 'Não foi possível carregar os dados do log.',
                  confirmButtonText: 'OK'
                });
                return
              } else {
                this.logs = data.response.map(item => ({
                  usuario: item.nomeUsuario,
                  estagio: item.estagio,
                  acao: item.acao,
                  observacao: item.observacao,
                  dataHora: item.dataHora
                }));
              }


            })
        }
      }
    });
  </script>
</body>

</html>