<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--VUE IMPORT-->
  <script src="../utils/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <!--CSS IMPORT-->
  <link rel="stylesheet" href="/src/assets/style/silver-zone-validate.css" />
  <script src="../utils/logout.js"></script>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <title>Silver Zone: Validação do Hash</title>
  <link rel="shortcut icon" href="../assets/images/favicon.ico">

</head>

<body>
  <div id="app">
    <header>
      <img src="../assets/images/logo-dom-rock.png" alt="logo-dom-rock" id="logo" />
      <nav>
        <a href="home.html">Home</a>
        <a href="upload-csv.html">Importar Arquivo</a>
        <a @click="deslogar()">
          <span class="material-symbols-outlined">logout</span>
        </a>
      </nav>
    </header>

    <h1 id="h1SilverValidate">Silver Zone: Validação do Hash</h1>

    <div id="alinhamentos">
      <h2 id="h2SilverValidate">Nome do arquivo:</h2>
      <p id="parchive" v-text="nameFile"></p>
    </div>

    <div id="table-container" style="overflow-x: auto">
      <table>
        <thead>
          <tr>
            <th v-for="(head, index) in headTabela" :key="index">
              {{ head }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in metadadosNoHash" :key="index">
            <td><input type="text" v-model="item.nome" disabled></td>
            <td><input type="text" v-model="item.valorPadrao" disabled></td>
            <td><input type="checkbox" v-model="item.agrupar" checked="true" disabled /></td>
        </tbody>
      </table>

      <div class="container">
        <div class="left-section">
          Observações:
          <input type="text" id="inputObs" v-model="observacao" />
        </div>
        <div class="right-section">
          <a href="navegation.html">
            <button id="btnCancelar">Voltar</button>
          </a>
          <button id="btnReprovado" @click="alteraSituacao(false)">Reprovado</button>
          <button id="btnSalvar" @click="alteraSituacao(true)">Aprovado</button>
        </div>
      </div>
    </div>
  </div>
</body>

<script>
  const app = new Vue({
    el: "#app",
    data: {
      nameFile: "",
      userFile: "",
      observacao: "",
      data: [],
      metadadosNoHash: [],
      headTabela: ["Nome", "Valor Padrão", "Colunas agrupadas"]
    },
    mounted() {
      this.nameFile = localStorage.getItem("fileName") || "";
      this.userFile = sessionStorage.getItem("usuario") || "";
      this.visualizarMetadadosDoHash();
    },
    methods: {
      deslogar() {
        logoutUser(sessionStorage.getItem("usuario"))
        sessionStorage.removeItem("usuario")

        Swal.fire({
          title: "Deseja realmente sair?",
          showDenyButton: true,
          confirmButtonText: `Sim`,
          denyButtonText: `Não`,
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = "../../public/index.html";
          }
        });
      },
      alteraSituacao(situacao) {
        // Construindo o objeto completo
        const objetoCompleto = {
          arquivo: this.nameFile,
          usuario: sessionStorage.getItem("usuario"),
          aprovado: situacao,
          cnpj: localStorage.getItem("cnpjFile"),
          observacao: this.observacao,
        };
        console.log(objetoCompleto);
        //Enviar dados para o backend
        fetch("http://localhost:8080/silver/validation", {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
            'Authorization': `Bearer ` + sessionStorage.getItem("authToken"),
          },
          body: JSON.stringify(objetoCompleto),
        })
          .then((response) => {
            return response.json();
          })
          .then((responseJson) => {
            console.log(responseJson)
            if (
              responseJson.critica !== "Processamento efetuado com sucesso"
            ) {
              Swal.fire({
                title: "Erro",
                text: responseJson.critica,
                icon: "error", // Ícone personalizado (success, error, warning, info)
                confirmButtonText: "OK", // Texto do botão de confirmação
              });
              return;
            } else {
              if (situacao === true) {
                Swal.fire({
                  title: "Aprovado com Sucesso",
                  text: responseJson.critica,
                  icon: "success", // Ícone personalizado (success, error, warning, info)
                  confirmButtonText: "OK", // Texto do botão de confirmação
                }).then((result) => {
                  localStorage.removeItem("arquivoCSV");
                  window.location.href = "home.html";
                });
              } else {
                Swal.fire({
                  title: "Reprovado com Sucesso",
                  text: responseJson.critica,
                  icon: "success", // Ícone personalizado (success, error, warning, info)
                  confirmButtonText: "OK", // Texto do botão de confirmação
                }).then((result) => {
                  localStorage.removeItem("arquivoCSV");
                  window.location.href = "home.html";
                });
              }
            }
          });
      },
      visualizarMetadadosDoHash() {
        const objetoParaEnviar = {
          nomeArquivo: this.nameFile,
          usuario: this.userFile,
          cnpj: localStorage.getItem("cnpjFile")
        };

        fetch("http://localhost:8080/bronze/visualize", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            'Authorization': `Bearer ` + sessionStorage.getItem("authToken"),
          },
          body: JSON.stringify(objetoParaEnviar),
        })
          .then((response) => {
            if (!response.ok) {
              console.log(
                Error + " Erro na requisição: " + response.status
              );
            }
            console.log("Requisição feita com sucesso: " + response.status);
            return response.json();
          })
          .then(data => {
            console.log("Dados recebidos:", data);
            if (data && data.response && data.response.metadadosNoHash) {
              this.metadadosNoHash = data.response.metadadosNoHash.map((meta) => ({
                nome: meta.nome,
                valorPadrao: meta.valorPadrao || "",
              }));
              console.log("Metadados:", this.metadadosNoHash);
            } else {
              console.log(
                Error + " Resposta da requisição inválida: ",
                data
              );
            }
          })
          .catch((error) => {
            console.error("Erro ao criar hash:", error);
          });
      }
    }
  });
</script>

</html>